.about
  padding rem(40px 0)

  +above('l')
    padding rem(70px 0 60px)

  .title--tp2
    padding-bottom rem(50px)

  .subtitle
    padding-bottom rem(20px)

    +above('l')
      padding-bottom rem(30px)

  &__wrapper
    display grid
    grid-template-columns 1fr

    +above('m')
      grid-template-columns 2fr 1fr
      grid-column-gap rem(20px)

    +above('l')
      grid-template-columns 2fr 1fr
      grid-column-gap rem(50px)

    &:nth-child(odd)

      +above('m')
        grid-template-columns 1fr 1fr
        margin-top rem(40px)

      +above('l')
        margin-top rem(60px)

  .picture
    margin-bottom rem(30px)

    +above('m')
      margin-bottom 0



