.testimonials
  padding rem(40px 0)

  +above('l')
    padding rem(70px 0 60px)

  .title--tp2
    padding-bottom rem(50px)

  &__wrapper
    display grid
    grid-template-columns 1fr
    grid-gap rem(30px)

    +above('m')
      grid-template-columns repeat(2, 1fr)

    +above('l')
      grid-template-columns repeat(3, 1fr)

