.container
  center()
  width calc(100% - 20px)
  height 100%
  +above('m')
    width 90%

.wrapper
  padding-top 80px


.btn-wrapper
  display flex
  flex-direction column
  justify-content center
  align-items center

  +above('m')
    flex-direction row
    justify-content flex-start
