.container
  width calc(100% - 20px)
  max-width 1110px
  height 100%
  margin auto

  +above('m')
    width 90%

.content
  min-height 100vh
  display flex
  flex-direction column

.wrapper
  flex 1
  padding-top 80px


.btn-wrapper
  display flex
  flex-direction column
  justify-content center
  align-items center

  +above('m')
    flex-direction row
    justify-content flex-start
