.title
  font-family Lato, Arial, Helvetica, sans-serif
  font-weight 300
  font-size rem(46px)
  line-height rem(60px)
  color $white
  text-align center

  &--strong
    font-weight 800

  +above('m')
    font-size rem(56px)
    line-height rem(70px)
    text-align left

.intro-tp1
  font-family 'Open Sans', Arial, Helvetica, sans-serif
  font-size rem(16px)
  line-height rem(24px)
  font-weight 400
  color $white

  +above('l')
    font-size rem(20px)
    line-height rem(32px)


