.title
  font-family Lato, Arial, Helvetica, sans-serif
  font-weight 300
  font-size rem(46px)
  line-height rem(60px)
  color $white
  text-align center

  +above('m')
    font-size rem(56px)
    line-height rem(70px)
    text-align left

  &--strong
    font-weight 800

  &--tp2
    font-weight 500
    font-size rem(35px)
    line-height rem(60px)
    text-align center
    letter-spacing rem(2px)
    text-transform capitalize
    color $quinternary-color

    +above('l')
      font-size rem(50px)

    &:after
      content ''
      display block
      width rem(110px)
      height rem(2px)
      margin-top rem(3px)
      background-color $quinternary-color
      margin auto

  &--tp3
    font-size rem(23px)
    line-height rem(35px)
    font-weight 600
    text-align left
    color $tertiary-color
    padding-bottom rem(8px)

  &--tp4
    font-family Lato, Arial, Helvetica, sans-serif
    font-size rem(28px)
    line-height rem(36px)
    font-weight 500
    letter-spacing rem(1px)
    text-align center
    text-transform capitalize

    +above('l')
      font-size rem(37px)
      line-height rem(44px)

  &--tp5
    font-size rem(19px)
    font-weight 600
    line-height rem(23px)
    letter-spacing rem(1px)
    text-align left
    color $secondary-color

  &--tp6
    font-size rem(15px)
    font-weight 600
    line-height rem(19px)
    letter-spacing rem(1.2px)
    color $quaternary-color
    text-align left
    padding rem(10px 0)

.subtitle
  font-size rem(23px)
  line-height rem(30px)
  font-weight 500
  letter-spacing rem(2px)
  color $tertiary-color

  +above('l')
    font-size rem(32px)
    line-height rem(38px)

  &--tp2
    font-size rem(23px)
    line-height rem(28px)
    font-weight 600
    padding rem(10px 0)

.description
  font-family 'Open Sans', Arial, Helvetica, sans-serif
  font-size rem(15px)
  line-height rem(29px)
  font-weight 400
  letter-spacing rem(1px)
  color $white

  +above('l')
    font-size rem(16px)

  &--tp2
    color $sexagenary-color

  &--tp3
    font-family Lato
    font-size rem(30px)
    line-height rem(40px)
    font-weight 500
    letter-spacing rem(2px)

    +above('l')
      font-size rem(40px)
      line-height rem(48px)

  &--tp4
    font-style italic
    text-align left
    color $sexagenary-color





