.feature
  order -1

  &--right
    order 1

  &__list
    display grid
    grid-template-columns repeat(2, 1fr)
    margin-top rem(30px)

    +above('m')
      grid-template-columns repeat(4, 1fr)
      margin-bottom 0

  &__item
    display flex
    flex-wrap wrap
    margin-bottom rem(30px)

  &__inner
    flex 0 1 rem(80px)
    font-size rem(16px)
    line-height rem(20px)
    font-weight 600
    text-transform uppercase
    color $tertiary-color
    text-align center

  &__circle
    flex 0 1 auto
    display flex
    align-items center
    justify-content center
    margin-bottom rem(20px)
    border-radius 50%
    background-color $primary-color

  &__icon
    font-size rem(32px)
    line-height rem(80px)
    color $white
