.appointment
  width 100%
  height auto
  padding rem(70px 0)
  color $white
  background-color $primary-color
  text-align center

  .description--tp2
    max-width 90%
    margin rem(25px) auto
    color $white

