.btn
  width auto
  min-width rem(135px)
  height auto
  min-height rem(45px)
  padding rem(13px 20px)
  margin-top rem(40px)
  text-align center
  color $white
  letter-spacing rem(1px)
  cursor pointer
  border none

  &:last-child
    margin-top rem(10px)

  +above('m')
    &:last-child
      margin-top rem(40px)

    &:not(:last-child)
      margin-right rem(10px)

  &--gray
    background-color $secondary-color

  &--orange
    background-color $primary-color
